body {
    background: #202020;
    background-color: #202020;
    background-image: url("assets/images/tttBG.jpg");
    color: #e6e6e6;
    text-align: center;
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-size: 0.7em;
}
h1 {
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 2.8em;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    margin: 0;

}
h3 {
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-style: dashed;
    padding: 0;
    margin: 10px 0 2px 0;
}
table {
    margin: 2% auto;
    border-collapse: collapse;
}
#table_game {
    position: relative;
    font-size: 120px;
    margin: 1% auto;
    border-collapse: collapse;
}
.td_game {
    border: 4px solid #e6e6e6;
    width: 90px;
    height: 90px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
.fixed {
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.td_list {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}
.th_list {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
#restart {
    font-size: 3em;
    width: 1em;
    height: 0.9em;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
}
.x {
    color: #22a2e1;
    position: relative;
    top: -8px;
    font-size: 1.2em;
    cursor: default;
}
.o {
    color: #ff8800;
    position: relative;
    top: -7px;
    font-size: 1.0em;
    cursor: default;
}

/* modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: #000000; /* fallback color */
    background-color: #00000099;
}

/* modal content */
.modal-content {
    background-color: #ffffff;
    color: #202020;
    font-size: 2em;
    font-weight: bold;
    /* 16 % from the top and centered */
    margin: 16% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 380px;
    max-width: 80%;
    min-width: 320px;
}
.modal-content p {
    margin: 0;
    padding: 0;
}

/* close button for modal dialog */
.close {
    color: #aaaaaa;
    float: right;
    position: relative;
    top: -25px;
    right: -10px;
    font-size: 34px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.win-color {
    background-color: #f0f0f0;
}

#optionsDlg > div:nth-child(1) {
    opacity: .9;
    border-radius: 0;
}

#okBtn {
    font-size: 20px;
    color: #ffffff;
    padding: 5px 25px;
    background: #22a2e1;
    background-color: #22a2e1;
}
   
#winAnimation, 
#lossAnimation,
#tieAnimation{
    display: none;
    margin: auto;
    width: 100%;
}

#winAnimation{
    background: url('assets/images/winAnimation.gif');
    background-image: url('assets/images/winAnimation.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#lossAnimation{
    background: url('assets/images/lossAnimation.gif');
    background-image: url('assets/images/lossAnimation.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#tieAnimation{
    background: url('assets/images/tieAnimation.gif');
    background-image: url('assets/images/tieAnimation.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}